<div class="eco-care-wrapper">
    <h2>{{'eco-care.content.title' | t}}</h2>
    <div class="eco-care">
        <div class="content">
            <div>
                <h3>{{'eco-care.content.subtitle' | t}}</h3>
                <p>{{'eco-care.content.text_html' | t}}</p>
            </div>
            <video autoplay muted loop>
                <source src="https://cdn.shopify.com/videos/c/o/v/c90d2d1c140345b29d5f1e7c127532f0.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</div>